/* ******     Font Family :QuickSand     ******** */
  @font-face {
    font-family: 'QuickSand';
    font-style: bold;
    font-weight: 900;
    src: url('/fonts/Quicksand/static/Quicksand-Bold.ttf');
  }

  @font-face {
    font-family: 'QuickSand';
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/Quicksand/static/Quicksand-SemiBold.ttf');
  }
  
  @font-face {
    font-family: 'QuickSand';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Quicksand/static/Quicksand-Medium.ttf');
  }
  
  @font-face {
    font-family: 'QuickSand';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Quicksand/static/Quicksand-Light.ttf');
  }
  
  @font-face {
    font-family: 'QuickSand';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Quicksand/static/Quicksand-Regular.ttf');
  }
  
  /* *** end font family roboto ****/
  