// Sub slider styles
.exe_main-sub-slider {
    background-color: rgba(238, 238, 238, 0.5);
    width: 300px;
    padding: 50px 30px;
    height: calc(100% - 100px);
    position: relative;
    h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: $color-primary;
        margin: 0;
    }

    .exe_main-sub-slider_content {
        margin-top: 40px;
        width: 100%;

        .exe_main-sub-slider_title {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: $color-primary;
            margin-bottom: 3px;
            text-transform: capitalize;
            margin: 0 0 4px 0;
        }
        .exe_main-sub-slider_subtitle {
            margin: 0;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: $color-text-secondary;
        }
    }
}

.exe_main-sub-slider_items {
    width: calc(100% + 12px);
    margin-top: 20px;
    margin-left: -6px;
    .exe_main-sub-slider_item {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
        padding: 6px;
        color: $color-text-secondary;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        transition: all 0.4s ease;
        width: 100%;
        p,
        h4 {
            margin: 0;
        }

        &.active {
            color: $color-primary;
            background-color: rgba(63, 81, 181, 0.2);
        }
        &:hover {
            background-color: rgba(238, 238, 238, 1);
        }
    }
}
